/promin/*.sqlite3
/promin/.env
/promin/promin/__pycache__
/promin/users/__pycache__
/promin/frontpage/__pycache__/
/promin/frontpage/migrations
/promin/users/migrations

.vscode/
.idea/
.DS_Store

pyrefly.toml

