{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Зміна пароля</title>

    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/change_password.css' %}">
</head>

<body>
    <div class="login-image"></div>

    <a class="btn-return" href="{% url 'users:home' %}">Повернутися</a>

    <div class="main-content">
        <h2 class="title">Вітаю! Ви змінили пароль.</h2>
    </div>
</body>

</html>