{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Зміна пароля</title>

    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/change_password.css' %}">
</head>

<body>
    <div class="login-image"></div>

    <a class="btn-return" href="{% url 'users:home' %}">Повернутися</a>

    <div class="main-content">
        <h2 class="title">Зміна пароля.</h2>

        <!--<form method="POST" action="url 'users:user_login'"> -->
        <form method="POST" class="form-container">
            {% csrf_token %}
            {{ form }}

            <!--<input type="text" name="login" placeholder="Enter login here.">
        <input type="password" name="password" placeholder="Enter password here."> -->

            <div class="btn-container"><button type="submit">Змінити пароль</button></div> 
        </form>
    </div>
</body>

</html>