.form-container > div {
    position: relative;
}

#id_new_password2_helptext {
    display: none;
}

#id_new_password1_helptext,
#id_new_password2_error {
    position: absolute;
    
}
#id_new_password1_helptext {
    left: 100%;
    top: 0;
    margin-left: 20px;
    width: 250px;
}

#id_new_password2_error {
    color: red;
    left: 39%;
    top: 67%;
}

.form-container button {
    text-align: center;
    width: 195px;
    font-size: 17px;
    margin-right: 0;
}

@media (max-width: 1000px) {
    #id_new_password1_helptext {
        left: 105px;
        top: 500%;
        margin-left: 0;
        margin-top: 20px;
    }
}

@media (max-width: 640px) {
    #id_new_password1_helptext {
        left: 35px;
        top: 380%;
        margin-left: 0;
        margin-top: 20px;
    }

    .main-content {
        margin: 15%;
        height: 85vh;
        background-color: rgba(0, 0, 0, 0.314);

        border-radius: 25px;
    }

    #id_new_password2_error {
    color: red;
    left: 18%;
    top: 180%;
    }

    .form-container {
        margin-bottom: 25vh;
    }
}