{% extends "frontpage/base.html" %}
{% load static %}

{% block title %}
Про проєкт
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<h1>Про проєкт</h1>
<p>Проєкт "Промінь" покликаний перевернути розуміння навчання як такого
    cтворивши середовище, де кожен студент IT гуртка зможе знайти
    та проявити себе, і розвинути власні навички.
</p>

<h1>Lead Developer</h1>
<h2>Кодинець Богдан (DevHub Community Lead)</h2>
<h3>Студент групи КН-23, 19 років</h3>
<p>Я головний і єдиний розробник цієї платформи. Я ставлю собі за мету досягнути такого результату,
    який дозволить будь-якому IT студенту нашого гуртка відчувати, що гурток про нього піклується, і
    що членство у гуртку надає такі переваги, які не може надати жоден інший гурток. <br>
    Це також і моя дипломна робота, над якою я старанно працюю. <br>
    А до того часу, <span class="japanese">またね！</span>
</p>
{% endblock %}