{% extends "frontpage/base.html" %}
{% load static %}

{% block title %}
Про проєкт
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<h1>Про проєкт</h1>
<p>Проєкт "Промінь" покликаний перевернути розуміння навчання як такого
    cтворивши середовище, де кожен студент IT гуртка зможе знайти
    та проявити себе, і розвинути власні навички.
</p>

<h1>Який функціонал буде присутній?</h1>
<p> Кожен студент матиме можливість переглядати усі найближчі події/заходи/івенти/конференції у зручному для себе форматі, прямо в телефоні, без потреби писати чи дзвонити постійно викладачам.
    Викладачі візьмуть на себе обов'язок наповнювати сайт цими заходами.<br>
    Окрім цього, кожен студент зможе ставити "відмітки" про участь у цих заходах. Щойно викладач підтвердить вашу участь в даній події, ви отримаєте "PR" (Promin Reputation). Це ваш умовний рейтинг на платформі. Чим він вищий, тим вище ви будете на таблиці лідерів серед інших студентів.
    Якщо ви утримуватимете це місце достатньо довго, зможете також отримувати призи 🙃
</p>

<h1>Коли завершиться розробка?</h1>
<p>Розробка не має жодних конкретних термінів.
    На даний момент, <span class="important-text">вихід бета-версії планується на початок-середину листопада.</span>
    Повноцінний запуск станеться в наступному семестрі.
</p>

<h1>Lead Developer</h1>
<h2>Кодинець Богдан (DevHub Community Lead), студент групи КН-23, 19 років</h2>
<p>Я головний і єдиний розробник цієї платформи. Я ставлю собі за мету досягнути такого результату, який дозволить будь-якому IT студенту нашого гуртка відчувати, що гурток про нього піклується, і що членство у гуртку надає такі переваги, які не може надати жоден інший гурток.
    Це також і моя дипломна робота, над якою я старанно працюю.
    А до того часу, <span class="japanese">またね！</span>
</p>
{% endblock %}