footer {
    color: black;

    min-height: 125px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 25px;

    background-color:rgb(238, 238, 238);
}